$font-stack: Helvetica, Arial, sans-serif;
$primary-color: red;
$secondary-color: orange;
$tertiary-color: yellow;

body{
    font-family: $font-stack;
    background-color: $secondary-color;
}

h1 {
    color: $primary-color;
}